h1 {
	text-align: center;
	font-family: sans-serif;

}
.link{
	color: 3333;
	padding: 32px;
	font-size: 32px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
}
footer {
	margin-top: 200px;
}